body{
	background-color: blanchedalmond;
}

.main{
	width: 965px;
	margin: auto;
	background-color: white;
}

hr{
	border: none;
	background-color: #F27B21;
	height: 3px;
}

.menu_left{
	width: 200px;
	float: left;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.test ul{

	margin-left: -40px;
}

.menu_left{
	margin-top: -8px;
	background-color: white;
	width: 230px;
}



.test{
	background-color: skyblue;
	border: 1px solid black;
}
 li{
 	text-align: center;
 	width: 150px;
 }

.test li{
	background-color: blanchedalmond;
}

.test a{
	line-height: 40px;
	color: #000000;
}


.right{
		margin-top: -8px;
	width: 735px;
	height: 500px;
	float: left;
	background-color: white;
	font-family: "微软雅黑";
}

form{
	margin-left: 180px;
	margin-top: 140px;
}

.name{
	height: 20px;
	border-color:blanchedalmond ;
	border-radius: 5px;
	
}

.submit{
	border: none;
	width: 55px;
	height:26px;
	border-radius: 5px;
	
}
.submit:HOVER {
	background-color: blanchedalmond ;
}