.main{
	width: 965px;
	margin: auto;
}

hr{
	border: none;
	background-color: #F27B21;
	height: 3px;
}

.menu_left{
	border: 1px solid #F27B21;
	width: 200px;
	height: 300px;
	float: left;
	text-align: center;
	font-size: 20px;
	font-family: FangSong_GB2312;
	color: black;
}

a{
	text-decoration: none;
}
