body{
	background-color: #769B72;
}

.main{
	width: 965px;
	margin: auto;
	height: 57px;
}

.logo{
	background-color: white;
	
}

li{
	list-style: none;
	text-align: center;
}
hr{
	border: none;
	background-color: #F27B21;
	height: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu_left{
	width: 200px;
	height: 670px;
	float: left;
	text-align: center;
	font-size: 20px;
	background-color: white;
}


a{
	text-decoration: none;
	line-height: 40px;
}
fieldset{
	background-color: aliceblue;
}

ul{
	margin-left:-40px;
}
li:hover{
	background-color: gainsboro;
}

.password{
	
}
.content_right{
	background-color: white;
	float:left;
}
a{
	color: black;
}
form{
	width:765px;
	height: 670px
}

input{
}
.text{
	margin-left:267px;
	font-family: "微软雅黑"
}

.button{
		width:60px;
	height:30px;
	border-radius:5px;
	background-color:aliceblue;
	margin-left:325px;
}